.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#portrait {
  border-radius: 150px;
  margin-right: 20px;
}

#logo {
  height: 100px;
  margin-left: 50px;
}

#logout {
  margin-right: 50px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  border: 3px solid #1db954;
  margin: 15px;
  padding: 20px;
  border-radius: 25px;
}

.favorites {
  display: flex;
  justify-content: space-between;
}

.favoritesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  border: 3px solid #1db954;
  margin: 15px;
  padding: 20px;
  border-radius: 25px;
}

.topArtistImg {
  height: 320px;
}

.white {
  color: white;
}

.trackList {
  list-style: none;
  padding: 0;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.flexCol {
  display: column;
  align-items: center;
}

#displayName {
  margin: 0 30px;
}

#email {
  margin: 0;
}
